body {
    font-family: Lato, sans-serif;
    margin: 0;
    background-image: url('assets/singolo1.png');
    background-repeat: no-repeat;
}

.page-wrapper {
    max-width: 940px;
    padding: 0 40px 0 40px;

}

.page-header {
    height: 92px;
    background-color: #2d303a; 
    position: relative;

}

.page-header::after {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #323746;
}

.page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 27px 0;
}

.navigation__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

}

.logo--modifier,
.navigation__item--current {
    color: #f06c64;
}

.navigation__item {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    text-decoration: none;
}

.navigation__list li {
    margin-left: 13px;
}

.navigation__list li:not(:last-child) a::after {
    content: "·";
    width: 10px;
    margin-left: 13px;
    color: #494e62;
}

.slider-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.slider__btn-arrow {
    width: 16px;
    height: 27px;
    background-color: #ca4549;
    border: none;
    background: url("./assets/chev.png");
    background-repeat: no-repeat;
    background-position: center;
}
.slider__btn-arrow--right {
    transform: rotate(180deg);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.slider__content {
    margin-top: 53px;
    margin-bottom: 58px;
    display: flex;
    align-items: center;
}

.slider__img {
    padding-right: 36px;
    padding-left: 35px;
}

.slider::after {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
   background-color: #ea676b;
}

.services {
    margin-top: 6px;
    background-color: #f2f2f2;
}
.services__title {
    margin: 0;
    padding: 0;
    color: #666d89;
    font-size: 30px;
    font-weight: 400;
    line-height: 17.86px;
    margin-top: 65px;
}

.services__description {
    margin: 0;
    padding: 0;
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 33px;
}

.layout-3-column {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 940px;
    padding-top: 13px;
}

.services__item {
    width: 220px;
    padding-left: 80px;
    
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-top: 28px;
}

.services__item--pen {
    background-image: url("./assets/pen.svg");
}

.services__item--bulb {
    background-image: url("./assets/bulb.svg");
}

.services__item--heart {
    background-image: url("./assets/heart.svg");
}

.services__item--phone {
    background-image: url("./assets/phone.svg");
}

.services__item--bubble {
    background-image: url("./assets/bubble.svg");
}

.services__item--star {
    background-image: url("./assets/star.svg");
}

.services__item h3 {
    margin: 0;
    padding: 0;
    color: #666d89;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
}
    
.services__item p {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    color: #666d89;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}