body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;    
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}



.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
}

.page-wrapper {
    max-width: 940px;
    padding: 0 40px 0 40px;
    margin: 0 auto 0 auto;
}

.page-header {
    height: 89px;
    background-color: #2d303a; 
    border-bottom: #323746 solid 6px;
}

.page-header__wrapper,
.page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 27px 0;
}

.navigation__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.logo {
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

}

.navigation__item {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo--modifier,
.navigation__item--current {
    color: #f06c64;
}

.navigation__list li {
    margin-left: 13px;
}

.navigation__list li:not(:last-child) a::after {
    content: "·";
    width: 10px;
    margin-left: 13px;
    color: #494e62;
}

.navigation__list a:hover,
.navigation__list a:focus,
.navigation__list a:active {
    color: #f06c64;
}


.slider {
    background-color: #f06c64;
    border-bottom: #ea676b solid 5px;
}

.slider-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.slider__btn-arrow {
    width: 16px;
    height: 27px;
    background-color: #ca4549;
    border: none;
    background: url("./assets/chev.png");
    background-repeat: no-repeat;
    background-position: center;
}

.slider__btn-arrow:hover {
    cursor: pointer;
}


.slider__btn-arrow--right {
    transform: rotate(180deg);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.slider__content {
    margin-top: 52px;
    margin-bottom: 58px;
    display: flex;
    align-items: center;
}

.slider__img {
    padding-right: 36px;
    padding-left: 35px;
}

.slider::after {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    content: "";                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    display: block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    position: absolute;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
    height: 6px;                                                                                                                                                                                                            
    width: 100%;                                                                                                                                                                                                                                                                                        
   background-color: #ea676b;
}

.services {
    background-color: #f2f2f2;
    border-bottom: #ffffff solid 6px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}

.services__title {
    margin: 0;
    padding: 0;
    color: #666d89;
    font-size: 30px;
    font-weight: 900;
    padding-top: 62px;
}

.services__description {
    margin: 0;
    padding: 0;
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding-top: 18px;
    text-align: justify;
}

.services__items {
    padding-top: 13px;
    padding-bottom: 68px;
}

.layout-3-column,
.column-3-layout {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 940px;
    
}

.layout-3-column > *,
.column-3-layout > * {
    width: 300px;
}

.services__item {
    width: 220px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-top: 31px;
}

.services__item--pen {
    background-image: url("./assets/pen.svg");
}

.services__item--bulb {
    background-image: url("./assets/bulb.svg");
}

.services__item--heart {
    background-image: url("./assets/heart.svg");
}

.services__item--phone {
    background-image: url("./assets/phone.svg");
}

.services__item--bubble {
    background-image: url("./assets/bubble.svg");
}

.services__item--star {
    background-image: url("./assets/star.svg");
}

.services__item h3 {
    margin: 0;
    padding: 0;
    color: #666d89;
    font-size: 18px;
    font-weight: 900;
    line-height: 17.86px;
}
    
.services__item p {
    margin: 0;
    padding: 0;
    padding-top: 12px;
    color: #666d89;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;

}

.columns-4-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns-4-layout > * {
    width: 220px;
    margin-bottom: 20px;
}

.columns-2-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.columns-2-layout > * {
    width: 50%;
    margin-bottom: 20px;
}

.columns-4-layout > img:nth-child(1n+13) {
    display: none;
}

.portfolio {
    background-color: #2d303a;
    color: #666d89;
    border-bottom: #323746 solid 6px;
    padding-top: 64px;
    padding-bottom: 48px;
}

.portfolio__title {
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 27px;

}

.portfolio__description {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 15px;
}

.portfolio__tags {
    margin-bottom: 19px;
}

.portfolio__tag {
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;

    padding: 3px 6px 3px 6px;
    margin-right: 8px;

    border: 1px solid #767e9e;;
    border-radius: 5px;
}

.portfolio__tag--active {
    color: #dedede;
    border-color: #dedede;
}

.about-us {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding-top: 63px;
    padding-bottom: 67px;
}

.about-us__title {
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.about-us__description {
    color: #767e9e;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    padding-bottom: 45px;
}

.person__name {
    color: #666d89;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
    
    margin-top: 14px;
    margin-bottom: 9px;
}

.person__description {
    color: #767e9e;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    
    text-align: justify;
    margin-bottom: 24px;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: nowrap;
}

.social__item {
    margin: 0;
    padding: 0;
}

.social__border {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #666d89;
    border-radius: 50%;

    justify-content: center;
    align-items: center;

    margin-right: 8px;
}


.social__icon {
    max-width: 14px;
    max-height: 14px;
    color: #666d89;
}

